// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-SearchBox {
  margin: 1em 0;
}

.right-panel {
  margin-left: 210px;
}

.left-panel {
  float: left;
  width: 200px;
}

.hit.media {
  width: 100%;
}

.hit .media-object {
  height: 200px;
  width: auto;
  float: right;
}

.hit .media-heading {
  color: #167ac6;
  font-weight: normal;
  font-size: 18px;
}

.hit .media-left {
  width: calc(20% - 20px);
  max-width: 220px;
  padding: 10px;
  float: left;
}

.hit .media-body {
  width: calc(80% - 20px);
  padding: 10px;
  float: left;
  display: block;
}
